@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

*{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
    @apply transition-all select-none ease-in-out duration-300 ;
}
.Step{
  position-area: center bottom;  
}
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
a{
  cursor: pointer;
}